@import '~antd/es/style/themes/default.less';

.ul {
  padding: 0;

  .li {
    position: relative;
    display: inline-block;
    width: 192px;
    height: 108px;
    margin: 8px;

    .img {
      width: 100%;
      border-radius: 6px;
    }

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 4px 8px;
      color: #eee;
      background: linear-gradient(transparent, black);
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
}
